body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn {
    margin: 1rem;
    width: 20rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
}

form {
    background-color: antiquewhite;
    border: 2px black solid;
    border-radius: 1rem;
    display: inline-block;
    padding: 3rem 10rem;
}

.error {
    background-color: red;
    border: 2px black solid;
    display: block;
    color: aliceblue;
    margin-top: 1rem;
    padding: 0.5rem;
}

.hide {
    display: none;
}